.boxes{
   background-color: rgb(255, 255, 255);
   color: rgb(0, 47, 175);

   
}
.fade-in-image { 
    display: flex;
    animation: fadeIn 3s; }
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
