@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-anim img {
  animation: fadeAnim 0.5s ease-out;
}
@keyframes fadeAnim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#light {
  background-color: white;
}

#dark {
  background-color: rgb(71, 64, 64);
}



/*light/darkmode*/
/**************/
.dark-mode{
  --primary: #f7d775;
  --bg-color: #000204;
  --bg-form: #42414d;
  --shadow:  rgb(9, 27, 36);
  --text-color: rgb(255, 255, 255);
  --background: url(../src/assets/darkbg.png);
}
.light-mode{
  --primary: #000000;
  --bg-color: #fdfdfd;
  --bg-form: #f6f7f9;
  --shadow:  #d0d0d0;
  --text-color: rgb(0, 0, 0);
}
:focus{
  outline: none;
}
html,body{
  margin: 0;
  padding: 0;
}
.app-container{
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--background);
  color: var(--text-color);
}
.theme-switch{
  position: fixed;
  top: 33px;
  left: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
}
.theme-switch span{

  display: flex;
  color: var(--primary);
  font-weight: 600;
}
.theme-switch span:hover{
  cursor: pointer;
}
.fa-icon{
    color: var(--primary);
    font-size: 15px;
    cursor: pointer;
  }

/************Footer***********************/

.footerbtn {
  width: 100%;
  background-color: #0c4a6e;
  border-top: solid rgb(0, 0, 0);
  color: white;

}

.iconfooter{
  margin-left: 5px;
}

/****contact***/

.headers1{
  font-weight: bolder;
  color: red;
  font-size: 35px;
  text-decoration: underline;
  text-align: center;
}

.headers2 {
  font-weight: bold;
  color:rgb(9, 27, 36)
}

.email1{
  margin-top: 14px;
  font-weight: bold;
  color: blue;
}

.linkedIn{
  margin-top: 15px;
  color: green;
  font-weight: bolder;
}

.names{
  color:rgb(9, 27, 36);
  font-weight: bold;
}

.linkuser{
  color: rgb(24, 118, 21);
  text-decoration: underline;
}


/*cart button*/

.rmvcartbtn {
  color: red;
  cursor: pointer;
}

@media screen and (max-width:259) {
  footer{
    width: 110vh;
  }
}
