.adminContainer {
  display: flex;
  justify-content: center;
  margin-top: 300px;
  margin-bottom: 311.4px;

}

.goBack {


  width: 250px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid rgb(16, 1, 26);


}

.message {
  position: relative;
  margin-top: -60px;
  display: flex;
  width: fit-content;
  justify-content: center;
  flex-direction: column;
  line-height: 100px;
  font-family: 'Nova Flat';
  font-size: 30px;

}

.adminArrow {
  display: flex;
  flex-wrap: wrap;
  margin-left: 375px;
  font-size: 60px;
  color: rgb(75, 22, 22);

}


.dashAdmin {
  margin-top: 8vh;
}

.welcome h1 {
  text-align: center;
  color: rgb(190, 35, 35);
  font-size: 20px;
  font-weight: bolder;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 2vh;
}

@media screen and (max-width: 772px) {
  .dashAdmin {
    margin-top: 15vh;
  }
}

@media screen and (max-width: 731px) {
  .adminArrow {
    display: flex;
    flex-wrap: wrap;
    margin-left: 200px;
    font-size: 60px;
    color: rgb(75, 22, 22);
  }
}