.detailContainer{
    margin-top: 200px;
    /* height: 45vh; */

}

.singleProductImg{
    /* border: 2px solid red; */
    height: 700px;
    width: fit-content;
    float:left; 
    
}



.priceDesc{
    /* border: 2px solid red; */
    width: fit-content;
    display: block;
    margin-left: 20%;
    margin-top: 10%;
    float:left; 
    /* line-height: 50px; */
}

/* .addtoCart{
    
} */

.addThis{
    background-color: rgb(64, 255, 64);
    /* margin-right: 20px; */
    border-radius: 15px;
    /* margin-left: 200px; */
    width: 100px;
    margin-right: 7px;
}
.deleteThis{
    background-color: rgb(255, 49, 49);
    border-radius: 15px;
    width: 100px;
}

.linkBack{
    background-color: rgb(47, 174, 206);
    border-radius: 10px;
    width: 150px;
}


@media screen and (max-width:818px) {
    .detailContainer{
        margin-top: 300px;
        /* display: flex;
        flex-wrap: wrap;
        flex-direction: column; */
    }
}

@media screen and (max-width:818px) {
    .nameDesc{
        /* margin-top: 300px; */
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .row{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%
    }
    .column {
        display: flex;
       flex-direction: column;
       flex-basis: 100%;
        flex: 1;
      }
}

.row{
    display: flex;
    max-width: 800px;
}

.column {
    flex: 50%;
    padding: 16px;
  }