.placeRow1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* margin-bottom: 150px; */
    /* margin-top: 200px; */
}

.my-2{
margin-right: calc(1rem);;
margin-left: calc(1rem);;
}

.userMessage{
    position: relative;
    margin-top: 50px;
    display: flex;
    /* width: fit-content; */
    justify-content: center;
    /* flex-direction: column; */
  line-height: 50px;
    font-family: 'Nova Flat';
    font-size: 30px;
}

.dateNow{
    position: relative;
    display: flex;
    justify-content: center;
    font-family: 'serif';
    font-size: 25px;
}

.adminContainer1{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

@media screen and (max-width:772px) {
    .adminContainer1{
        display: flex;
        justify-content: center;
        margin-top: 220px;
        margin-bottom: 20px;
    }
}

@media screen and (min-width:772px) {
    .adminContainer1{
        display: flex;
        justify-content: center;
        margin-top: 120px;
    }


    .placeRow1{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 98px;
        /* margin-top: 200px; */
    }
}