.theCard{
    width: 316px;
    padding: 25px;
    border: 1px solid #c9c9c9;
    line-height: 40px;
    margin-bottom: 75px;
   
}

.prodName{
    font-family: 'Nova Flat';
    font-size: 22px;
    color: rgb(0, 178, 232);
}

.inStock{
    color: rgb(6, 135, 6);
}

.a{
    
background-color: rgb(46, 168, 5); /* Green */
  border: solid;
  border-radius: 15px;
  color: rgb(0, 0, 0);
  padding: 5px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: 'Nova Flat';
}

.a:hover{
background-color: #ffffff;
color: rgb(0, 0, 0);
    }

